        header, nav, main, footer, aside {
            display: block;
        }

        * {
            box-sizing: content-box;
        }

        body {
            margin: 10px;
        
            background-image: url(sky.jpg);
            padding: 20px;
            border: 1px double #000000;
        }

        #container {
       
            color: #000000;
            min-width: 960px;
            font-family: Verdana, 'Times New Roman', sans-serif;
        }

        header {
       
            background-position: top;
            
            background-repeat: repeat-x;
            height: 105px;
            color: #0094ff;
            text-align: center;
            padding: 7px;
            border-bottom: 2px solid #000000;
        }

        nav {
            float: left;
            width: 150px;
        }

        aside {
            float: right;
            width: 200px;
        }

        main {
            margin: 0 210px 0 160px;
            padding: 1px 10px 20px 10px;
      
            color: #000000;
        }

        footer {
            font-size: .70em;
            text-align: center;
            color: #006600;
          
            padding-top: 10px;
            clear: both;
        }

        h1 {
            margin-top: 4px;
            font-size: 3em;
            text-align: center;
            text-shadow: 2px 2px 2px #000000;
        }

        header a {
            font-size: 0.80em;
        }
        
        aside ul {
            margin-top: 20px;
            list-style-type: none;
            text-decoration: none;
            font-size: 1.2em;
        }


        nav ul {
            text-decoration: none;
            margin-top: 20px;
            list-style-type: none;
            text-decoration: none;
            font-size: 1.2em;
        }

        nav a:visited {
            color: #0026ff;
        }


        main p {
            margin: 15px;
        }

        main h2, main h3 {
            color: #000000;
          
        }

   

        .news {
            font-size: 0.80em;
            margin: 10px;
        }
.column {float: left;
  width: 40%;
  padding: 20px;
  height: 300px;
  box-sizing: border-box;
  margin: 20px;
}
  
.row:after {content: "";
  display: table;
  clear: both;
}

