    header, nav, main, footer{
 display: block;
        }

        * {
            box-sizing: content-box;
        }

        body {
            margin: 10px;
            background-color: #808080;
            text-align: left;
        }

        #wrapper {
            background-color: #808080;
            color: #000000;
            min-width: 960px;
            font-family: Verdana, 'Times New Roman', sans-serif;
        }

        header {
            background-color: #808080;
            background-image: url(niu1.jpg);
            background-position: top;
            background-repeat: repeat-x;
            height: 150px;
            color: #0094ff;
            text-align: center;
            padding: 7px;
            border-bottom: 2px solid #000000;
        }

        nav {
            float: left;
            width: 150px;
        }


        main {
            margin: 0 150px;
            padding: 1px 10px 10px 10px;
            background-color: #808080;
            color: #000000;
        }

        footer {
            font-size: .70em;
            text-align: center;
            color: #808080;
            background-color: #808080;
            padding-top: 10px;
            clear: both;
        }

        h1 {
            margin-top: 4px;
            font-size: 3em;
            text-align: center;
            text-shadow: 2px 2px 2px #000000;
        }

header a {
    font-size: 0.80em;
}


        nav ul {
            margin-top: 20px;
            list-style-type: none;
            text-decoration: none;
            font-size: 1.2em;
        }

        nav a:visited {
            color: #000000;
        }


        main p {
            margin: 15px;
        }

        main h2, main h3 {
            color: #000000;
            background-color: #808080;
        }


        .news {
            font-size: 0.80em;
            margin: 10px;
        }


img {
    max-width: 60%;
    max-height: 30%;
    float: right;
}

    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
 {
  box-sizing: border-box;
}


